@import "tailwindcss";

@theme {
  --font-sans: "Red Rose", sans-serif;
  --font-serif: "Red Rose", serif;
}

@source "../views/";
@source "../../app/";
@import "./cf7.css";
@font-face {
font-family:"bickham-script-pro-3";
src:url("https://use.typekit.net/af/85e324/000000000000000077359400/31/l?primer=e6066692ab328d1a92bb155659ed6609b693e1e352f0e8982e4224719b13bdfb&fvd=n4&v=3") format("woff2"),url("https://use.typekit.net/af/85e324/000000000000000077359400/31/d?primer=e6066692ab328d1a92bb155659ed6609b693e1e352f0e8982e4224719b13bdfb&fvd=n4&v=3") format("woff"),url("https://use.typekit.net/af/85e324/000000000000000077359400/31/a?primer=e6066692ab328d1a92bb155659ed6609b693e1e352f0e8982e4224719b13bdfb&fvd=n4&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:400;font-stretch:normal;
}

@font-face {
font-family:"bickham-script-pro-3";
src:url("https://use.typekit.net/af/22631d/000000000000000077359401/31/l?primer=e6066692ab328d1a92bb155659ed6609b693e1e352f0e8982e4224719b13bdfb&fvd=n6&v=3") format("woff2"),url("https://use.typekit.net/af/22631d/000000000000000077359401/31/d?primer=e6066692ab328d1a92bb155659ed6609b693e1e352f0e8982e4224719b13bdfb&fvd=n6&v=3") format("woff"),url("https://use.typekit.net/af/22631d/000000000000000077359401/31/a?primer=e6066692ab328d1a92bb155659ed6609b693e1e352f0e8982e4224719b13bdfb&fvd=n6&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:600;font-stretch:normal;
}

@font-face {
font-family:"bickham-script-pro-3";
src:url("https://use.typekit.net/af/9a15d6/000000000000000077359402/31/l?primer=e6066692ab328d1a92bb155659ed6609b693e1e352f0e8982e4224719b13bdfb&fvd=n7&v=3") format("woff2"),url("https://use.typekit.net/af/9a15d6/000000000000000077359402/31/d?primer=e6066692ab328d1a92bb155659ed6609b693e1e352f0e8982e4224719b13bdfb&fvd=n7&v=3") format("woff"),url("https://use.typekit.net/af/9a15d6/000000000000000077359402/31/a?primer=e6066692ab328d1a92bb155659ed6609b693e1e352f0e8982e4224719b13bdfb&fvd=n7&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:700;font-stretch:normal;
}

.heading-1 {
    font-family: 'bickham-script-pro-3', serif;
    font-weight: 400;
    font-size: 120px;
    line-height: 0.5;
}
.stats-1 {
    font-family: 'bickham-script-pro-3', serif;
    font-weight: 400;
    font-size: 220px;
    line-height: 0.5;
}

.heading-2 {
    font-family: 'bickham-script-pro-3', serif;
    font-weight: 400;
    font-size: 64px;
}

a {
	text-decoration: none !important;
}

.screen-reader-response {
    display: none !important;
}

.wpcf7-form .hidden-fields-container,
.wpcf7-form .wpcf7-response-output {
  display: none !important;
}

input {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  border-radius: 0;
  border-width: 1px;
  width: 100%;
  border-color: #0b285f;

}


.card {
  opacity: 0;
  transform: translateX(100px);
}

.card.show {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

@keyframes float {
  0% { transform: translateY(0px); }
  50% { transform: translateY(-10px); }
  100% { transform: translateY(0px); }
}

.animate-float {
  animation: float 5s ease-in-out infinite;
}

.mobile-nav-wrapper ul li a {
  @apply block w-full px-4 py-3 bg-transparent text-2xl uppercase text-[#3b2a27] hover:text-[#C49090] transition rounded-lg;
}
